Flask==3.0.3
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
SQLAlchemy
typing-extensions
torch
Pillow==10.4.0
spacy==3.7.5
transformers==4.46.3
sentence-transformers==3.2.1
Flask-Migrate==4.0.7
pymysql==1.1.1
werkzeug==3.0.4
keras==2.13.1
gunicorn==23.0.0
